<div *ngIf="(field.dirty||field.touched)&&field.errors?.['required']" class="text-danger">Không được để trống!</div>
<div *ngIf="(field.dirty||field.touched)&&field.errors?.['minlength']" class="text-danger">Nhập tối thiểu {{field.errors?.['minlength'].requiredLength}} ký tự!</div>
<div *ngIf="(field.dirty||field.touched)&&field.errors?.['min']" class="text-danger">Nhập tối thiểu số {{key}} là 1 </div>
<div *ngIf="(field.dirty||field.touched)&&field.errors?.['max']" class="text-danger">Nhập tối đa số {{key}} là 100
</div>
